openapi: 3.0.0
info:
  title: API Gestion de productos automarco e inyeccion de pedidos (v2)
  version: 2.0.0
  description: |
    Documentación unificada de la API — versión v2 en pruebas previas a reemplazar v1.

    **Rate limiting:** por cliente (rut del token), 100 solicitudes/minuto para
    endpoints de lectura y 20 solicitudes/minuto para los de escritura
    (`/pedidos`, `/ordenes-disam`). Al exceder el límite responde `429 Too Many
    Requests` con headers estándar (`RateLimit-*`, `Retry-After`).

servers:
  - url: https://apiproductos.automarco.cl:3008/api/v2
  - url: http://localhost:3008/api/v2

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Ingrese su token de autentificacion
  
  schemas:
    Clasificacion:
      type: object
      properties:
        id_cla:
          type: integer
          description: ID de la clasificacion
          example: 2
        clasificacion_nombre:
          type: string
          example: Ampolletas
    
    Cilindrada:
      type: object
      properties:
        cilin_id:
          type: integer
          description: ID único de la cilindrada.
          example: 19
        cilindrada:
          type: string
          description: Capacidad del motor.
          example: "1.6"
    
    Modelo:
      type: object
      properties:
        id_mod:
          type: integer
          description: ID único del registro.
          example: 1693
        mod_id:
          type: integer
          description: ID externo o referencia del modelo.
          example: 550
        marca_id:
          type: integer
          description: ID de la marca.
          example: 14
        marca:
          type: string
          description: Nombre de la marca.
          example: "CHEVROLET"
    
    Marca:
      type: object
      properties:
        marca_id:
          type: integer
          description: ID único de la marca.
          example: 14
        marca_nombre:
          type: string
          description: Nombre comercial de la marca.
          example: "CHEVROLET"

    Producto:
      type: object
      description: Objeto detallado del repuesto.
      properties:
        prod_id:
          type: string
          description: ID único o SKU del producto.
          example: "72204-9"
        id_prov:
          type: string
          description: Código del proveedor.
          example: "G707127"
        prod_nombre:
          type: string
          description: Nombre completo del producto.
          example: "Amortiguador Gabriel"
        prod_texto_corto:
          type: string
          description: Descripción breve.
          example: "Amortiguador Gabriel"
        prod_precio:
          type: integer
          description: Precio de lista.
          example: 48880
        descuento:
          type: integer
          description: |
            Solo presente si el request incluyó `sucursales`. Porcentaje de
            descuento del cliente para la sucursal indicada (0 si no aplica).
          example: 10
        precio_final:
          type: integer
          description: |
            Solo presente si el request incluyó `sucursales`. Precio ya con el
            descuento aplicado; igual a `prod_precio` si el descuento es 0.
          example: 43992
        prod_stock:
          type: integer
          description: Stock disponible.
          example: 2
        multiplo:
          type: integer
          nullable: true
          description: >
            Múltiplo de compra: la cantidad pedida en `/pedidos` debe ser un
            múltiplo de este número (ej. si es 6, se puede pedir 6, 12, 18...
            pero no 10). `null` o 0 si el producto no tiene restricción.
          example: 6
        espe_nombre:
          type: string
          description: Especificación técnica (ej. Gas, Hidráulico).
          example: "Gas"
        ubi_nombre:
          type: string
          description: Ubicación de la pieza en el vehículo.
          example: "Delantero Izquierdo"
        marca_nombre:
          type: string
          description: Marca del vehículo compatible.
          example: "Chevrolet"
        mod_id:
          type: string
          description: Modelo del vehículo compatible.
          example: "Prisma"
        traccion:
          type: string
          description: Tipo de tracción.
          example: "--"
        origen:
          type: string
          description: País de origen.
          example: "--"
        agno_inicio:
          type: integer
          description: Año de inicio de compatibilidad.
          example: 2017
        agno_fin:
          type: integer
          description: Año de fin de compatibilidad.
          example: 2023
        empresa:
          type: string
          description: Empresa proveedora (GABTEC, AUTOMARCO, AUTOTEC).
          example: "GABTEC"
        marca_producto:
          type: string
          description: Marca del fabricante del repuesto.
          example: "Gabriel"
        version:
          type: string
          description: Versión específica del vehículo.
          example: ""
        prod_img:
          type: string
          description: Ruta relativa interna de la imagen.
          example: "productos/6099172204-9a.jpg"
        producto_imagen:
          type: string
          description: URL completa y pública de la imagen (Hateoas).
          example: "https://www.gabtec.cl/imagenes/productos2/thums/72204-9_1.jpg"
    
    PedidoResponse:
      type: object
      properties:
        alertas:
          type: array
          description: >
            Empresas del pedido que quedaron excluidas — por falta de permiso del
            cliente, por no indicar sucursal para esa empresa, o por indicar una
            sucursal que no existe para el cliente (vacío si se procesó todo).
          items:
            type: object
            properties:
              empresa: { type: string, example: "GABTEC" }
              motivo: { type: string, example: "El cliente no tiene permiso para comprar en GABTEC." }
        pedidos:
          type: array
          description: >
            Un elemento por cada empresa involucrada en el pedido (un pedido
            multiempresa genera un correlativo y una cabecera independiente
            por empresa; GABTEC y FRENOS mezclados se fusionan en un solo
            pedido "UNIFICADO"). Cada empresa despacha desde la sucursal que el
            cliente eligió para ella — las direcciones ya no tienen que coincidir
            entre empresas.
          items:
            type: object
            properties:
              empresa:
                type: string
                example: "AUTOTEC"
              pedido:
                type: string
                description: Formato RUT Vendedor - Correlativo
                example: "93-139965"
              id_interno:
                type: integer
                description: ID autoincremental de la tabla pedidos_api
                example: 21
              direccion_despacho:
                type: string
                example: "SUCRE 2003"
              comuna:
                type: string
                example: "NUNOA"
          example:
            - empresa: "GABTEC"
              pedido: "93-139965"
              id_interno: 21
              direccion_despacho: "SUCRE 2003"
              comuna: "NUNOA"
            - empresa: "AUTOMARCO"
              pedido: "1-27841"
              id_interno: 22
              direccion_despacho: "AV. PROVIDENCIA 1234"
              comuna: "PROVIDENCIA"
        datos_cliente:
          type: object
          properties:
            rut:
              type: string
              example: "76813177-5"
            condicion_pago:
              type: object
              description: >
                Condición de pago por empresa, leída directamente de la sucursal
                del cliente en la base de datos (con caída a la sucursal '0' si
                la sucursal específica no tiene una registrada). null si esa
                empresa no quedó con sucursal válida.
              properties:
                automarco:
                  type: string
                  nullable: true
                  example: "XB"
                gabtec:
                  type: string
                  nullable: true
                  example: "XB"
                autotec:
                  type: string
                  nullable: true
                  example: null
                hd:
                  type: string
                  nullable: true
                  example: null
        detalle_productos:
          type: array
          description: Lista de productos efectivamente procesados en el pedido.
          items:
            type: object
            properties:
              sku:
                type: string
              descripcion:
                type: string
              cantidad:
                type: integer
              precio_unitario:
                type: integer
                description: Precio de lista (sin descuento aplicado).
              descuento:
                type: integer
                description: Porcentaje de descuento del cliente para este producto (0 si no aplica).
              empresa:
                type: string
          example:
            - sku: "70012-6"
              descripcion: "Amortiguador Daher Boge"
              cantidad: 10
              precio_unitario: 10208
              descuento: 0
              empresa: "GABTEC"
            - sku: "10328-4"
              descripcion: "Alternador "
              cantidad: 10
              precio_unitario: 85090
              descuento: 10
              empresa: "AUTOMARCO"
    Transporte:
      type: object
      properties:
        tran_id:
          type: integer
          description: ID del transporte.
          example: 1
        tran_nombre:
          type: string
          description: Nombre de la empresa de transporte.
          example: "DOMICILIO"
    SucursalesResponse:
      type: object
      properties:
        rut:
          type: string
          description: RUT del cliente autenticado.
          example: "76073217-6"
        sucursales:
          type: object
          description: Listado de sucursales agrupadas por empresa.
          properties:
            AUTOMARCO:
              type: array
              items:
                $ref: '#/components/schemas/DetalleSucursal'
            GABTEC:
              type: array
              items:
                $ref: '#/components/schemas/DetalleSucursal'
            AUTOTEC:
              type: array
              items:
                $ref: '#/components/schemas/DetalleSucursal'
            HD:
              type: array
              items:
                $ref: '#/components/schemas/DetalleSucursal'
          example:
            AUTOMARCO:
              - codigo: "0"
                direccion: "AV AMERICO VESPUCIO 1256"
                comuna: "PUDAHUEL"
              - codigo: "1"
                direccion: "AV AMERICO VESPUCIO 1256"
                comuna: "PUDAHUEL"
              - codigo: "9"
                direccion: "AV.AMERICO VESPUCIO 1256"
                comuna: "PUDAHUEL"
            GABTEC:
              - codigo: "0"
                direccion: "AMERICO VESPUCIO OTE 1309"
                comuna: "PUDAHUEL"
              - codigo: "1"
                direccion: "AV.AMERICO VESPUCIO 1256"
                comuna: "PUDAHUEL"
            AUTOTEC:
              - codigo: "0"
                direccion: "AV AMERICO VESPUCIO 1256"
                comuna: "PUDAHUEL"
            HD:
              - codigo: "0"
                direccion: "A.VESPUCIO 1256 ENEA"
                comuna: "PUDAHUEL"
              - codigo: "1"
                direccion: "A.VESPUCIO 1256 "
                comuna: "PUDAHUEL"

    DetalleSucursal:
      type: object
      properties:
        codigo:
          type: string
          description: Código interno de la sucursal (cli_sec).
          example: "0"
        direccion:
          type: string
          description: Dirección física registrada.
          example: "AV AMERICO VESPUCIO 1256"
security:
  - bearerAuth: []

paths:
  /auth/renovar-token:
    post:
      summary: Renovar el propio token (JWT)
      description: |
        Emite un JWT nuevo para el cliente, sin depender de que el equipo lo
        regenere manualmente. Requiere la **api-key fija** entregada al crear
        el acceso.

        No requiere `Authorization` — es el punto de entrada cuando el JWT ya
        no sirve. Limitado a 5 intentos/minuto por rut (protección contra
        fuerza bruta sobre la api-key).
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - rut
                - api_key
              properties:
                rut:
                  type: string
                  example: "18211738-2"
                api_key:
                  type: string
                  description: Api-key fija del cliente (no es el JWT).
                  example: "a1b2c3...64 caracteres hex"
      responses:
        '200':
          description: Token renovado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string, example: "eyJhbGciOi..." }
                  expira_en: { type: string, example: "90d" }
        '400':
          description: Falta `rut` o `api_key`.
        '401':
          description: Rut o api-key inválidos (mensaje genérico, no distingue cuál de los dos falló).
        '429':
          description: Demasiados intentos para ese rut en el último minuto.
        '500':
          description: Error interno del servidor.

  /category:
    get:
      summary: Obtener todas las categorias
      tags:
        - Categorias
      responses:
        '200':
          description: Listado de clasificaciones obtenido exitosamente.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Clasificacion'
        '401':
          description: No autorizado. Token no proporcionado o inválido.
        '403':
          description: Error interno del servidor.
  
  /cilindrada:
    get:
      summary: Obtener las cilindradas
      description: Despliega todas las cilindradas disponibles.
      tags: 
        - Cilindradas
      parameters:
        - in: query
          name: order_by
          schema:
            type: string
            default: cili_id__ASC
          description: Ordenar por `cili_id__ASC` o `cili_id__DESC`.
      responses:
        '200':
          description: Listado obtenido exitosamente.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cilindrada'
        '401':
          description: Token no proporcionado o inválido.
        '500':
          description: Error interno del servidor.

  /brands:
    get:
      summary: Obtener todas las marcas
      description: |
        Retorna una lista de marcas de vehículos activas.
        Requiere autenticación y validación de IP.
      tags:
        - Marcas
      parameters:
        - in: query
          name: order_by
          schema:
            type: string
          description: |
            Campo para elegir el orden de las marcas, puede ser `nombre__ASC` o `nombre__DESC`.
      responses:
        '200':
          description: Listado de marcas obtenido exitosamente.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Marca'
        '401':
          description: No autorizado. Token no proporcionado o inválido.
        '403':
          description: Error interno del servidor.

  /models:
    get:
      summary: Obtener todos los modelos
      description: |
        Retorna una lista de modelos de vehículos. 
        Permite filtrar por marca y ordenar los resultados.
      tags:
        - Modelos
      parameters:
        - in: query
          name: order_by
          schema:
            type: string
            default: marca_id__ASC
          description: |
            Define el ordenamiento. Formato: `campo__DIRECCION`.
        - in: query
          name: marca_id
          schema:
            type: integer
            default: 0
          description: ID de la marca para filtrar los modelos. Si es 0, trae todos.
      responses:
        '200':
          description: Listado de modelos obtenido exitosamente.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Modelo'
        '401':
          description: No autorizado. Token no proporcionado o inválido.
        '500':
          description: Error interno del servidor.

  /transportes:
    get:
      summary: Obtener todos los transportes
      description: |
        Retorna la lista de empresas de transporte disponibles en el sistema.
        Requiere autenticación y validación de IP.
      tags:
        - Transportes
      responses:
        '200':
          description: Petición exitosa.
          content:
            application/json:
              schema:
                oneOf:
                  # Caso 1: Array directo con datos
                  - type: array
                    items:
                      $ref: '#/components/schemas/Transporte'
                  # Caso 2: Objeto vacío o mensaje (cuando no hay datos)
                  - type: object
                    properties:
                      message:
                        type: string
                        example: "No se encontraron transportes"
                      data:
                        type: array
                        items: {}
                        example: []
        '401':
          description: No autorizado. Token faltante o inválido.
        '403':
          description: Prohibido. Falló la validación de IP.
        '500':
          description: Error interno del servidor.
  
  /products:
    post:
      summary: Buscar productos (Filtro por Categoría o Vehículo)
      description: |
        Retorna productos compatibles desde 3 bases de datos (Automarco, Autotec, Gabtec).

        **Todos los filtros son opcionales**, con dos reglas:
        - Si envías `modelo_id`, también debes enviar `marca_id` (no se puede filtrar
          por modelo sin marca).
        - Si no envías **ningún** filtro (`cla_id`, `marca_id`, `modelo_id`, `cili_id`,
          `agno`), debes enviar `empresa` (`AUTOMARCO`, `AUTOTEC` o `GABTEC`) y se
          retorna el catálogo completo **de esa empresa**, paginado (`page`/`limits`).

        **Modos de búsqueda:**
        1. **Por Categoría:** Enviar solo `cla_id`. las siguientes ID´s son universales y puede enviarse sole el cla_id 2, 9, 12, 15, 16, 18, 22, 23, 25, 31, 37, 48, 49, 54
        2. **Por Vehículo:** Enviar `cla_id`, `marca_id`, `modelo_id`, `cili_id` y/o `agno` (los que apliquen).
        3. **Catálogo completo de una empresa:** No enviar ningún filtro, solo `empresa` (+ `page`/`limits` opcionales).

        **Filtrar por empresa (opcional):** en los modos 1 y 2 también se puede
        enviar `empresa` para que solo se consulte esa empresa (ej. `cla_id` +
        `empresa: "AUTOMARCO"` retorna solo productos de AUTOMARCO). Si no se
        envía, se consultan las 3 empresas donde el cliente tiene permiso.

        **Paginación (todos los modos):** la respuesta siempre viene paginada con
        `page` (default 1) y `limits` (default 500, máximo 500), en el formato
        `{ info, results }`. Cuando se consultan varias empresas, se paginan como
        una sola lista: primero AUTOMARCO, luego AUTOTEC y luego GABTEC. Para traer
        todo, recorre las páginas hasta que `info.next_page` sea `null`.
        

        **Precio con descuento (opcional):** si se envía `sucursales`, cada producto
        incluye además `descuento` y `precio_final` calculados contra la sucursal de
        esa empresa (según el rut del token). El código de sucursal debe coincidir
        con el `codigo` retornado por `/sucursales` para esa empresa (no son
        equivalentes entre empresas). Si no se envía `sucursales`, o la sucursal
        indicada no existe para el cliente en esa empresa, se retorna solo el precio
        de lista (`prod_precio`), igual que antes.
      tags:
        - Productos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cla_id:
                  type: integer
                  description: ID de la clasificación (Categoría). Opcional.
                  example: 10

                marca_id:
                  type: integer
                  description: ID de la marca del vehículo. Obligatorio si se envía modelo_id.
                  example: 14
                modelo_id:
                  type: integer
                  description: ID del modelo del vehículo. Requiere marca_id.
                  example: 550
                cili_id:
                  type: integer
                  description: ID de la cilindrada.
                  example: 5
                agno:
                  type: integer
                  description: Año del vehículo.
                  example: 2022
                empresa:
                  type: string
                  description: |
                    Opcional. Si se envía junto a otros filtros, limita la búsqueda a
                    esa empresa. Obligatorio solo si no se envía ningún filtro
                    anterior (lista el catálogo completo de esa empresa, paginado).
                    Un valor distinto a los permitidos responde `400`.
                  enum: [AUTOMARCO, AUTOTEC, GABTEC]
                  example: AUTOMARCO
                page:
                  type: integer
                  description: Página a listar. Default 1.
                  example: 1
                limits:
                  type: integer
                  description: Tamaño de página. Default 500, máximo 500.
                  example: 20
                sucursales:
                  type: object
                  description: |
                    Opcional. Código de sucursal por empresa (ver /sucursales), usado
                    para calcular el precio con descuento. Si se omite, se retorna
                    precio de lista.
                  properties:
                    AUTOMARCO:
                      type: string
                      example: "12"
                    AUTOTEC:
                      type: string
                      example: "3"
                    GABTEC:
                      type: string
                      example: "0"
      responses:
        '200':
          description: Resultados encontrados.
          content:
            application/json:
              schema:
                type: object
                properties:
                  info:
                    type: object
                    properties:
                      total_records: { type: integer, example: 134 }
                      total_pages: { type: integer, example: 7 }
                      current_page: { type: integer, example: 1 }
                      next_page: { type: integer, nullable: true, example: 2 }
                      prev_page: { type: integer, nullable: true, example: null }
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Producto'
        '400':
          description: Faltan parámetros obligatorios o `empresa` no es válida.
        '401':
          description: Token no proporcionado o inválido.
        '500':
          description: Error interno del servidor.

  /pedidos:
    post:
      summary: Crear Pedido Unificado (Multi-Empresa)
      description: |

        

        **Funcionalidad:**
        - Permite pedidos mixtos (pedidos multiempresa): los productos se agrupan por
          empresa y se genera un pedido independiente por cada una.
        - **Transporte obligatorio:** hay que enviar `tran_id` o `tran_nombre`; si
          faltan ambos, se rechaza con `400`.
        - **Sucursal obligatoria por empresa:** cada empresa presente en `productos`
          necesita su sucursal en `sucursales`. Cada empresa despacha desde la
          sucursal que el cliente eligió para ella.
        - **Permisos y sucursales parciales:** si el cliente no tiene permiso en una
          empresa, o no se indicó sucursal para ella, o la sucursal indicada no
          existe para el cliente, esa empresa se excluye del pedido (no corta el
          resto) y queda listada en `alertas`. Si **ninguna** empresa del pedido
          termina con permiso y sucursal válida, no se crea nada: responde `403`
          si el motivo es falta de permiso en todas, o `400` si alguna tenías
          permiso pero ninguna tenía sucursal válida — en ambos casos con
          `alertas` detallando el motivo por empresa.

        *Nota: El RUT del cliente se obtiene automáticamente del Token de autenticación.*
      tags:
        - Pedidos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - productos
                - sucursales
              properties:
                tran_id:
                  type: string
                  description: Requerido si no se envía `tran_nombre`.
                  example: "2"
                tran_nombre:
                  type: string
                  description: Requerido si no se envía `tran_id`.
                  example: "RETIRA CLIENTE"
                sucursales:
                  type: object
                  description: >
                    Código de sucursal (cli_sec) por empresa. Obligatorio incluir
                    la de cada empresa presente en `productos` (GABTEC cubre
                    también los productos FRENOS); si falta o no existe para el
                    cliente, esa empresa queda excluida del pedido (ver `alertas`
                    en la respuesta).
                  properties:
                    AUTOMARCO: { type: string, example: "0" }
                    AUTOTEC: { type: string, example: "0" }
                    GABTEC: { type: string, example: "0" }
                    HD: { type: string, example: "0" }

                productos:
                  type: array
                  description: Lista de productos.
                  items:
                    type: object
                    required:
                      - sku
                      - cantidad
                    properties:
                      sku: 
                        type: string
                        description: Código del producto
                        example: "70012-6"
                      cantidad:
                        type: integer
                        description: >
                          Cantidad a comprar. Si el producto tiene `multiplo`
                          (ver /products), debe ser un múltiplo de ese valor.
                        example: 10
                  example:
                    - sku: "70012-6"
                      cantidad: 10
                    - sku: "10328-4"
                      cantidad: 10

      responses:
        '201':
          description: >
            Pedido creado. Si alguna empresa del pedido quedó fuera (por permiso,
            sucursal faltante o sucursal inválida), igual responde 201 con lo que
            sí se pudo procesar y `alertas` no vacío detallando qué se excluyó y
            por qué.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PedidoResponse'
        '400':
          description: >
            Error de validación de entrada (falta `productos`, falta transporte,
            SKU no encontrado), o ninguna empresa quedó con sucursal válida (en
            este último caso responde con `alertas`, igual que el 403).
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: "No se pudo procesar el pedido: ninguna empresa tiene una sucursal válida." }
                  error_detail: { type: string, example: "SKU no encontrado: 99999-9" }
                  alertas:
                    type: array
                    items:
                      type: object
                      properties:
                        empresa: { type: string, example: "GABTEC" }
                        motivo: { type: string, example: "La sucursal código '5' para GABTEC no existe o no esta creada." }
        '401':
          description: No autorizado
        '403':
          description: El cliente no tiene permiso en ninguna de las empresas del pedido (no se creó nada).
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: "No se pudo procesar el pedido: el cliente no tiene permiso en ninguna de las empresas solicitadas." }
                  alertas:
                    type: array
                    items:
                      type: object
                      properties:
                        empresa: { type: string, example: "GABTEC" }
                        motivo: { type: string, example: "El cliente no tiene permiso para comprar en GABTEC." }
        '500':
          description: Error interno

  /buscar-prod/{id}:
    get:
      summary: Ficha de un producto por SKU
      description: Busca el producto y agrega sus equivalencias OEM.
      tags:
        - Productos
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
          example: "72204-9"
      responses:
        '200':
          description: Producto encontrado.
        '404':
          description: Producto no encontrado.
        '401':
          description: No autorizado.

  /cod-publicacion/{id}:
    get:
      summary: Info de una publicación de Mercado Libre
      description: Búsqueda parcial (LIKE) por código de publicación en `tbl_mercado_libre`.
      tags:
        - Productos
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
          example: "TR000001"
      responses:
        '200':
          description: Publicación(es) encontrada(s).
        '404':
          description: No encontrado.
        '401':
          description: No autorizado.

  /dimensiones/{producto}:
    get:
      summary: Volumetría/peso de un producto (WMS)
      tags:
        - Productos
      parameters:
        - in: path
          name: producto
          required: true
          schema: { type: string }
          example: "72204-9"
      responses:
        '200':
          description: Datos de volumetría encontrados.
        '404':
          description: No encontrado.
        '401':
          description: No autorizado.

  /imagenes-productos:
    get:
      summary: Listado paginado de imágenes de productos
      tags:
        - Productos
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 500 }
        - in: query
          name: empresa
          description: "'gabtec', 'autotec' o 'automarco' (opcional)."
          schema: { type: string }
      responses:
        '200':
          description: Listado paginado.
        '401':
          description: No autorizado.

  /sucursales:
    get:
      summary: Obtener sucursales del cliente
      description: |
        Recupera las direcciones de despacho y códigos de sucursal del cliente logueado.
        
        El sistema consulta las 4 bases de datos (Automarco, Gabtec, Autotec, HD) y devuelve los resultados agrupados por empresa.
        
        **Requiere:** Token de autenticación (el RUT se extrae del token).
      tags:
        - sucursales
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Listado de sucursales obtenido exitosamente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SucursalesResponse'
        '401':
          description: Token inválido o expirado.
        '500':
          description: Error interno del servidor.